#head{
   text-align: center;
   background-color: navy; 
   color:white;
}

#img1{
    align-items: center;
    margin: auto;
    justify-content: center;
    height:200px;
    width:200px;
}
div{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  border: 1px solid black;
}